@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap");

$img1: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/advice/maps-satellite-images/satellite-image-of-globe.jpg");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$black: #202020;

body {
  background-color: #202020;
  font-family: "Titillium Web", sans-serif;
  color: white;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    // border-radius: 10px;
    background: $black;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 219);
    border-radius: 10px;
  }
}

i {
  // color: #dbdbdb;
  margin-top: 2px;
  margin-left: 5px;
  position: relative;

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "copy";
    position: absolute;
    bottom: -3px;
    right: -22px;
    border-radius: 3px;
    opacity: 0;
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 3px;
    font-family: "Titillium Web";
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  background-color: whitesmoke;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &:hover {
    img {
      filter: blur(0px) grayscale(0%);
      transform: scale(1.1);
      animation: blurAnimation 1.5s ease-in-out;
    }
  }

  &.black {
    .text {
      color: black;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s ease-in-out;
    filter: grayscale(90%);
    position: absolute;
  }

  .content {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: grid;
    place-items: center;

    // Overlay
    // &::before {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background-color: rgba(0, 0, 0, 0.089);
    //   content: "";
    //   top: 0;
    //   left: 0;
    //   z-index: 2;
    // }

    img {
      z-index: 1;
      transition: 0.5s ease-in-out;
    }

    & > * {
      z-index: 5;
    }

    &:hover {
      .text {
        animation: 1.5s textAnimation ease-in-out;
      }
      .info {
        transition-delay: 1.2s;
        opacity: 1;
      }
    }

    .text {
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 3px;
      z-index: 5;
      transition: 0.5s ease-in;
      position: absolute;
      // opacity: 0;

      &.blur {
        opacity: 0;
      }
    }

    .info {
      margin-top: 40%;
      font-size: 15px;
      max-width: 285px;
      background-color: rgba(0, 0, 0, 0.575);
      padding: 4px 10px;
      border-radius: 10px;
      opacity: 0;
      transition: 0.5s ease-in;
      // color: black;

      // font-weight: 600;

      & > p {
        text-align: center;
      }

      .info-text {
        padding: 0 5px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2;
        color: white;

        span.email {
          display: inline-block;
          margin-left: auto;
          text-align: right;
        }
        // width: fit-content;
      }
    }

    .video-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      place-items: center;

      &.black {
        background-color: black;
      }

      video {
        visibility: hidden;
        // z-index: 0;
        // object-fit: fill;

        // max-width: 100%;
        // max-height: 100%;
        // top: 0;
        // left: 0;
        // right: 0;
        // width: 100%;
        // height: 100%;
        // position: absolute;

        width: 100% !important;
        height: auto !important;
      }
    }
  }

  &:nth-child(1) {
    background-color: khaki;
  }
}

@keyframes blurAnimation2 {
  0% {
    transform: scale(1);
    filter: blur(0);
  }
  50% {
    transform: scale(1.1);
    filter: blur(0);
  }

  85% {
    transform: scale(1.1);
    filter: blur(0);
  }

  100% {
    transform: scale(0);
    filter: blur(10px);
  }
}

@keyframes blurAnimation {
  0% {
    transform: scale(1);
    filter: blur(0);
  }

  75% {
    transform: scale(1.1);
    filter: blur(5px);
  }

  100% {
    transform: scale(1.1);
    filter: blur(0px);
  }
}

@keyframes textAnimation {
  0% {
    letter-spacing: 3px;
  }
  60% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: 3px;
  }
}
